
.input-file-label {
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }


  /* Estilo oculto para el input de tipo file */
  .input-file {
    display: none;
  }

  .btnColor{
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 10px;
  
  }

  .link{
    color: gray;
    text-decoration: none;

}